<!doctype html>
<html>
<head>

<title></title>

</head>
<body>

<style>
fieldset{
width:25%;
background:	#B8B8B8 ;
}
.floatright{
float:right;
width:80%
}
.floatleft{
float:left;
width:5%
}
</style>

<div class="floatleft">
<img src="/static/img/parrots.jpg" alt="Something is wrong"/>
</div>
<div class="floatright">


<fieldset><p><h1></h1>Winston Lindsay </h1></p></fieldset>
<br/>
<fieldset><p> Today is: Sat, 20 Feb 2016</p></fieldset>
<fieldset><p>Username: Wushum</p>
<p>ID: 620067000</p>
<p>Sex: Male</p>
<p>Age: 21</p>
<p>Highest Score: 450</p>
<p>TDollars: 800</p>
</fieldset>
</div>

</body>
</html>
